* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

nav {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 50px;
}

li:nth-child(4) {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}
